@media(max-width:1200px){
  body, html {
    font-size: 10px;
    line-height: 14px;
  }
  .masthead-products {
    height: 400px;
    background-size: contain;
  }
}

@media(max-width:767px){
  body, html {
    font-size: 10px;
    line-height: 14px;
  }
  aside>ul {
    padding: 0 3rem;
}
.narrow-content h1, .narrow-content h2 {
  width: 100%;
}
.slide-1 .right-img,
.slide-2 .right-img {
  top:100%;
  max-width: 100%;
}
.home-wrapper h1 {
  font-size: 5rem;
  line-height: 4rem;
}
.right-sidebar {
  width: 80px;
  right: 10px;
}
.home-wrapper {
  padding-left: 80px;
}
.bottom-sidebar {
  height: auto;
  padding-right: 80px !important;
}
.masthead-products {
  height: 300px;
  background-size: contain;
}
}