
@media (min-width:768px){
  .height-100vh {
    height: 100vh;
  }
}
@media(max-width:1920px){
  body, html {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .masthead-products {
    height: 700px;
    background-position: center;
    background-size: cover;
  }
}

@media(max-width:1600px){
  body, html {
    font-size: 13px;
    line-height: 18px;
  }
  .masthead-products {
    height: 600px;
    background-position: center;
    background-size: cover;
  }
}

@media(max-width:1200px){
  body, html {
    font-size: 11px;
    line-height: 15px;
  }
  .masthead-products {
    height: 400px;
    background-position: center;
    background-size: cover;
  }
}


@media(max-width:767px){
  aside a {
    line-height: 1.5rem;
    font-size: 2rem;
  }
  .sm-position-relative {
    position: relative;
  }
  .bg-text h2 {
    top: 28%;
  }
  

nav {
    padding: 5%;
}
  body {
    
    padding-right: 80px;
  }
  body, html {
    font-size: 9px;
    line-height: 12px;
  }
  aside>ul {
    padding: 0 3rem;
}
.narrow-content h1, .narrow-content h2 {
  width: 100%;
}
.slide-1 .right-img,
.slide-2 .right-img {
  top:100%;
  max-width: 100%;
}
.home-wrapper h1 {
  font-size: 5rem;
  line-height: 4rem;
}
.right-sidebar {
  width: 80px;
  right: 10px;
}
.home-wrapper {
  padding-left: 80px;
}
.bottom-sidebar {
  height: auto;
  padding-right: 80px !important;
}
.masthead-products {
  height: 250px;
  background-size: contain;
  background-position: center;
}
}