body, html {
  /* font-size: 16px;
  line-height: 18px; */
  font-family: 'HelveticaNeueCyr';
  position: relative;
}

p, ul, ol, body, html {
  padding: 0;
  margin: 0;
}

a, a:focus, a:hover {
  color: #5f534a;
  text-decoration: none;
}

.h1 {
  font-size: 2rem;
}

.h2 {
  font-size: 1.8rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.3rem;
}

.h5 {
  font-size: 1.1rem;
}

.h6 {
  font-size: 1rem;
}

.home-wrapper {
  padding-right: 100px;
  background-image: url('../images/home-bg.png');
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.cart-wrapper {
  padding-right: 100px;
  /* background-image: url('../images/home-bg.png'); */
  display: table;
  height: 50vh;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding-left: 100px;
}

.logo img {
  margin-bottom: 30px;
}

.wrapper-inner {
  display: table-cell;
  vertical-align: middle;
}

.grid-50 {
  width: 50%;
  display: inline-block;
}

.float-left {
  float: left;
}

.right-sidebar {
  font-size: 2rem;
  display: table;
  text-align: right;
  position: fixed;
  z-index: 2;
  top:0;
  right: 0;
  height: 100%;
  padding: 1.3rem 3rem 1.3rem 0;
}

.bottom-sidebar {
  padding-right: 100px !important;
  font-size: 2rem;
  text-align: center;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100%;
}

.categories li a {
  display: inline-block;
  padding: 1.8rem 0;
}

.right-sidebar .top, .right-sidebar .middle, .right-sidebar .bottom {
  display: table-row;
}

.right-sidebar .top ul, .right-sidebar .middle ul, .right-sidebar .bottom ul {
  list-style: none;
  display: table-cell;
}

.right-sidebar .top ul {
  vertical-align: top;
}

.right-sidebar .middle ul {
  vertical-align: middle;
}

.right-sidebar .bottom ul {
  vertical-align: bottom;
}


.right-sidebar a {
  padding: 10px 0;
  display: inline-block;
}

.categories {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.categories li {
  display: inline-block;
  padding: 0 10px;
}
.full-screen {
  height: 100vh;
  width: 100%;
  display: table;
}

.cart-heading h1 {
  text-transform: uppercase;
  font-size: 1.8rem;
  text-align: center;
  color: #5f534a;
  font-weight: 600;
  margin-top: -3%;
  margin-bottom: 0;
}
/* .navigation { position: fixed; left:0; z-index: 1; width: 5%;} */

nav {
  padding: 2%;
  position: fixed;
  top:0;
  z-index: 3;
}

nav::after {
  content: "";
  display: block;
  clear: both;
}

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  left: -100%;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  transition: all 0.4s ease;
  z-index: 2;
  display: table;
}

aside.active {
  left: 0;
}

aside>ul {
  list-style: none;
  padding: 0 10rem;
  display: table-cell;
  vertical-align: middle;
}

aside>ul>li>a:hover {
  color: #E8DBCA;
  padding-left: 5%;
}

aside>ul>li.dropdown>a:after {
  content: "\f054";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-left: 2rem;
}

aside .menuss a {
  line-height: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  padding: 18px 0;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #5F534A;
}


aside .menuss {
  list-style: none;
    padding: 0px 9rem 96px !important;
    display: table-cell;
    vertical-align: middle;
}

.toggle-wrap {
  z-index: 3;
}

.toggle-bar, .toggle-bar::before, .toggle-bar::after, .toggle-wrap.active .toggle-bar, .toggle-wrap.active .toggle-bar::before, .toggle-wrap.active .toggle-bar::after {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.toggle-wrap.active .toggle-bar::after {
  top: 128%;
}

.msg::placeholder {  
                  
		
	padding-top: 50px;
						
	} 


.toggle-bar::before, .toggle-bar::after {
  content: "";
  display: block;
  background: none;
  height: 3px;
  width: 28px;
  position: absolute;
  top: 13px;
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -ms-transform-origin: 13%;
  -webkit-transform-origin: 13%;
  transform-origin: 13%;
	margin-left: 15px;
	margin-top: -2px;
}

.toggle-bar::after {
  top: 100%;
  background: #5F534A;
}

.toggle-wrap.active .toggle-bar span {
  opacity: 0;
}

.toggle-wrap.active .toggle-bar::before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #5F534A;
}

.toggle-wrap.active .toggle-bar::after {
  -ms-transform: rotate(-45deg);
  background: #5F534A;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.table-cell {
  display: table-cell;
  width: 100%;
}

.align-middle {
  vertical-align: middle;
}

.table {
  display: table;
  width: 100%;
}

.height-v100 {
  height: 100vh;
}
.carousel-indicators {
    bottom: -10%;
}

.home-wrapper h1 {
  font-size:4rem;
  text-transform: uppercase;
  color: #5F534A;
  font-weight: bolder;
  line-height: 6rem;
  margin: 0;
}

.home-wrapper h2 {
  margin-top: 20%;
  font-size: 2rem;
  text-transform: lowercase;
  color: #5F534A;
  font-weight: 300;
}
#slider .btn {opacity: 0;
  position: absolute;
  right: 20%;
  bottom: -35%;
  text-transform: uppercase;
  font-size: 1.5rem;
  border-bottom: 1px solid #5f534a;
  font-weight: 300;
  transition: all ease-in-out 500ms;
  padding: 0;
  border-radius: 0;}
.view-all {
  margin-top: 20%;
}
.masthead-products {
  height: 706px;
  background-repeat: no-repeat;
}

.btn {
    text-transform: uppercase;
    font-size: 1.5rem;
    background-color: transparent;
    border-bottom: 1px solid #5f534a;
    font-weight: 300;
    transition: all ease-in-out 500ms;
    padding: 0;
    border-radius: 0;}
.right-img {
  transition: transform .2s;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:active:focus {
  border:0;
  outline: none;
  box-shadow: none;
  border-bottom: 5px solid #5f534a !important;
}
.right-img:hover { transform: scale(1.1);}
.right-img:hover + .btn,
.btn:hover  {opacity: 1 !important;}
.action-home {
  display: block;
}

nav>a {
  margin-bottom: 25px;
  display: block;
}

nav>a:first-child {
  position: relative;
  font-size: 20px;
}

aside li {
  display: block;
  position: relative;
  /* z-index: 3; */
}

.dropdown {
  position: relative;
}

.dropdown a {
  z-index: 3;
  position: relative;
}

.dropdown ul {
  z-index: 2;
  opacity: 0;
  width: auto;
  position: absolute;
  padding: 0;
  left: 10%;
  top: 13px;
  transition: all 0.4s ease;
  max-width: 300px;
  
}

.dropdown:hover>ul {
  width: auto;
  opacity: 1;
  left: 40%;
}

.dropdown>a {
  position: relative;
}

.narrow-content {
  position: absolute;
  width: 100%;
  top: 10%;
  left: 0;
}

.narrow-content h1, .narrow-content h2 {
  text-align: center;
  width: 50%;
  display: inline-block;
  position: relative;
}

.slide-1 .right-img {
  display: inline-block;
  top: 0;
  max-width: 50%;
  position: absolute;
  right: -100%;
}
/* #slider .slide-1.active .right-img {
  right: 10%;
}
#slider .slide-1.active h1 {
  right: auto;
} */
#slider .slide-1 h1 {
  right: -100%;
}

/* #slider .slide-2.active .right-img {
  right: 10%;
}
#slider .slide-2.active h1 {
  right: auto;
}
#slider .slide-1.active h2,
#slider .slide-2.active h2 {
  opacity: 1;
} */
.narrow-content.active {z-index: 999;}
#slider .slide-2 h2,
#slider .slide-1 h2 {
  opacity: 0;
}
#slider .slide-2 h1 {
  left: -100%;
}

.slide-1.animate-out h2 {
  animation: slide-sub-title 3s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.slide-1.animate-out h1 {
  animation: slide-title 3s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.slide-1.animate-out .right-img {
  animation: slide-image 3s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

@keyframes slide-sub-title {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slide-title {
  0% {
    left: 0%;
  }
  100% {
    left: 120%;
  }
}

@keyframes slide-image {
  0% {
    right: 10%;
  }
  100% {
    right: -100%;
  }
}

.slide-1.animate-in h2 {
  animation: slide-sub-title-in 3s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.slide-1.animate-in h1 {
  animation: slide-title-in 3s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.slide-1.animate-in .right-img {
  animation: slide-image-in 3s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}


@keyframes slide-sub-title-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-title-in {
  0% {
    right: -100%;
  }
  100% {
    right: 0%;
  }
}

@keyframes slide-image-in {
  0% {
    right: 100%;
  }
  100% {
    right: 10%;
  }
}

/* .slide-2 h2 { opacity: 0; } */

.slide-2.animate-in h2 {
  animation: slide-2-sub-title-in 3s;
  animation-delay: 3000ms;
  animation-fill-mode: forwards;
}

.slide-2.animate-in h1 {
  animation: slide-2-title-in 3s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.slide-2.animate-in .right-img {
  animation: slide-2-image-in 3s;
  animation-delay: 0;
  animation-fill-mode: forwards;
}

@keyframes slide-2-sub-title-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-2-title-in {
  0% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}

@keyframes slide-2-image-in {
  0% {
    right: -100%;
  }
  100% {
    right: 10%;
  }
}

.hide {
  display: none;
}

.content {
  margin-top: -163px;
  background-color: white !important;
}

p {
  font-size: 15px;
}

.our {
  text-align: center;
  margin-top: 100px;
}

.menu {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.menu li {
  margin: 15px;
}

.content {
  margin-top: -63px;
  background-color: white !important;
}

p {
  font-size: 15px;
}

.our {
  text-align: center;
  margin-top: 100px;
}

.menu {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.menu li {
  margin: 15px;
}

.justify-content-between {
  margin-bottom: 22px;
}

.details {
  margin-bottom: 0px;
}

.currancy {
  font-size: 12px;
}
.menu-image {
  top: 100%;
  position: absolute;
  transition: all ease-in-out 2s;
}
.menu-image.active {
  top: 0;
}
.content {
  position: relative;
  margin-top: -90px;
  background-color: white !important;
}

p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
#contactForm { padding: 0 10%;}

.our {
  /*text-align: center;*/
  margin-top: 50px;
  margin-right: 20px;
}

.menu {
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.menu li {
  margin: 15px;
}


.addresss {
  text-align: right;
  margin-top: 60px;
  margin-left: -20px;
}

.head {
  font-weight: bold;
  color: maroon;
}

.social {
  overflow: auto;
}

.social li {
  list-style-type: none;
}

.profile-actions { margin: 3rem auto; font-size: 1.2rem; list-style: none; text-align: center;}
.profile-actions li a.active {font-weight: 600;}
.profile-actions li { display: inline-block; text-transform: uppercase;}
.profile-actions li:first-child { margin-right: 1.5rem;}
.profile-actions li:last-child { margin-left: 1.5rem;}

.social li a i {
  background: none;
  color: #5f534a;
  font-size: 25px;
  padding-top: 15%;
}

.socialss {
  display: inline-grid !important;
  float: right;
  margin-top: 176px;
  font-size: 15px;
}

/* i {
  color: black !important;
} */

.cart-icon {
  width: 30px;
  position: relative;
}

.cart-count {
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  color: #fff;
  text-align: center;
  background: #5f534a;
  left: -15px;
  top: 0px;
  font-size: 10px;
  line-height: 20px;
}

.socialss {
  display: inline-grid !important;
  float: right;
  margin-top: 185px;
  font-size: 15px;
  margin-right: -105px;
}

/* i {
  color: #5f534a !important;
} */

.heading h1 {
  text-align: center;
  margin-bottom: -90px;
}

/* #overlay1 {
  position: absolute;
  display: block;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
} */

.contact-us .heading h1 {
  font-size: 3rem;
  /* padding: 90px 130px; */
}

.contact-us {
  text-align: center;
}
.already {
  text-align: left;
  font-size: 1rem;
}

.tabss {
  margin-top: 150px;
}

.rounded {
  font-size: 14px;
}

.summary {
  font-size: 14px;
}

/* img{
     margin-bottom: -30px;
   } */


.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

.price {
  margin-top: 160px;
}

.pcs {
  margin-top: 160px;
}

.currancy {
  font-weight: bold;
  font-size: 13px;
}

.price p {
  font-weight: bold;
  text-align: right;
  font-size: 3rem;
  line-height: 2.5rem;
}
.p-category:after{
  content: '';
  height: 30px;
  width: 30px;
  background-color: #606e4c;
  border-radius: 50%;
  position: absolute;
  right: 2.5px;
  top: 2.5px;
}
.p-category:before{
  content: '';
  height: 35px;
  width: 35px;
  border: 1px solid #606e4c;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.p-category {
  margin: 1rem auto;
  position: relative;
  padding-right: 50px;
  text-transform: uppercase;
  font-size: 3rem !important;
}

.name {
  font-weight: bold;
  text-align: left;
  font-size: 25px;
}

.tamr {
  margin-bottom: -27px;
}

.socialss {
  display: inline-grid !important;
  float: right;
  margin-top: 185px;
  font-size: 15px;
  margin-right: -105px;
}

.carousel-indicators li {
  display: inline-block;
  width: 25px;
  height: 4px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #291a1a;
  margin: 6px;
  /* border-radius: 10px*/
}



.carousel-indicators .active {
  width: 25px;
  height: 4px;
  margin: 0;
  background-color: #291a1a;
  margin: 6px;
}

#content {
  display: none;
}

#content.show {
  display: block;
  /* P.S: Use `!important` if missing `#content` (selector specificity). */
}

#size {
  display: none;
}

#size.show {
  display: block;
  /* P.S: Use `!important` if missing `#content` (selector specificity). */
}
#toggle {
  font-weight: 300;
  border: none;
  font-size: 1.3rem;
  display: block;
  background: none;
  margin-top: 30px;
  width: 100%;
  text-align: right;
}

button:focus {
  outline: none;
  /* outline: 5px auto -webkit-focus-ring-color; */
}

.kinds {
  padding: 0;
  font-size: 1rem;
}
.kinds a { margin: 10px 0; display: block; text-transform: uppercase;}
#toggle2 {
  padding: 0;
  border: none;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1.3rem;
  background: none;
}
#addToCart { margin-top: 20%;}

/* .view-all {
  font-size: 12px;
  border-bottom: 1px solid #51302c;
  padding-bottom: 3px;
  text-decoration: none;
} */

a:hover {
  text-decoration: none;
}

/* .dropdown li { margin-bottom: -5px;} */

body {
  background-image: url(../images/home-bg.png);
  background-size: 100% 100%;
  background-position: top;
  background-repeat: repeat-y;
  /* padding-right: 100px; */
}

.slide-2 .right-img {
  display: inline-block;
  top: 0%;
  max-width: 50%;
  position: absolute;
  right: -100%;
}


.about-us .tab-pane {
  position: absolute;
  top:100%;
  width: 100%;
  transition: all ease-in-out 1s;
}
.about-us .tab-pane.active {
  top:0 !important
}
.about-us .tab-pane.animate-out {
  top:-100%;
}
.about-us .tab-content>.tab-pane {
  display: block;
}
.about-us .tab-content { position: relative; height: 50vh; overflow: hidden;}
.about-banners {
  position: relative;
  height: 406px;
  overflow: hidden;
}
.page-holder {
  margin: 10% auto;
}
.carousel-inner img {
  max-height: 500px;
  display: inline-block !important;
  margin: auto;
}
.carousel-inner .item {
  text-align: center;
}

.product-details-tamr {
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 3rem;
  text-transform: uppercase;
}

.product-details-name {
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
}
.row.show {
  margin: 0;
}

.bg-text h2 {
  line-height: 3.5rem;
  color: #5f534a;
  font-size: 4rem;
  text-align: center;
  padding-top: 0;
  font-weight: 600;
  margin-bottom: 0px;
  text-transform: uppercase;
  padding-bottom: 0px;
  top: 18%;
  letter-spacing: 0;
  z-index: 2;
  width: 100%;
  opacity: 0.1;
  left:0;
  margin: 0px;
}
.registerForm,
.loginForm,
.forgot-password {  max-width: 500px; margin:5% auto;}
.register p { font-weight: 300; margin-top: 10px;}
.form-control {
  border: 0;
  border-bottom: 1px solid #5f534a;
  outline: 0;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 300;
}
.form-control:focus,
.form-control:active,
.form-control:hover {
  box-shadow: none;
  border-bottom-color:#5f534a;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #5f534a;
  opacity: 1; /* Firefox */
  font-size: 1.2rem;
  font-weight: 300;
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #5f534a;
  font-size: 1.2rem;
  font-weight: 300;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #5f534a;
  font-size: 1.2rem;
  font-weight: 300;
}



/*   my css   */

.bottom-cats a:focus  {font-weight:bold;}
.bottom-cats a:hover  {transform: scale(1.2);}

.menu-contact a{

  font-size: 15px !important;
  
}
.menu-footer a{
  font-size: 15px !important;
}
/* The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.7); /* Black with a little bit see-through */
}

/* The content */
.overlay-content {
  position: relative;
  top: 46%;
  width: 50%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
.overlay-content {
  color: #fff;
  border: 1px solid #5b5b5b;
  height: 50px;
}
.overlay-content i { color:#fff;}

/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

/* Style the search field */
.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 94%;
  color: #fff;
}

/* Style the submit button */
.overlay button {
  float: left;
  width: 6%;
  padding: 15px;
  background: transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

.overlay .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.overlay .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: #fff;
}

.profileForm input:read-only { background-color: transparent;}
hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid #5f534a;
}


.orders-table { background-color: #fff; padding: 10px; border-top:1px solid #f2f2f2}
.orders-table { text-transform: uppercase;}
.no-border { border:0; border: none !important;}

.orders-table > .table>tbody>tr>td {
  padding: 21px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #5f534a;
}

.submit-btn.btn
{
  position: absolute;
  bottom: 15px;
  right:-30px;
	font-size: 21px;
}

.submit-btn.btn:hover{

	letter-spacing: 4px;
	border-bottom: 1px solid #5f534A !important;
}
.contactForm
{
  position: relative;
}
.alert.alert-danger p {
  margin:0;
}
